In [5]:
import requests
import re
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from nltk import word_tokenize

In [4]:
cv = CountVectorizer()
texts =["Hello, this is a python course", "Hi, my bike broke this tuesday"]

X = cv.fit_transform(texts)

df = pd.DataFrame(X.toarray(), columns=cv.get_feature_names_out())

df

   bike  broke  course  hello  hi  is  my  python  this  tuesday
0     0      0       1      1   0   1   0       1     1        0
1     1      1       0      0   1   0   1       0     1        1

In [7]:
cv = CountVectorizer(stop_words='english', tokenizer=word_tokenize)
texts =["Hello, this is a python course", "Hi, my bike broke this tuesday"]

X = cv.fit_transform(texts)

df = pd.DataFrame(X.toarray(), columns=cv.get_feature_names_out())

df

/opt/anaconda3/lib/python3.12/site-packages/sklearn/feature_extraction/text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

   ,  bike  broke  course  hello  hi  python  tuesday
0  1     0      0       1      1   0       1        0
1  1     1      1       0      0   1       0        1